.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.Buy-now{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    cursor: pointer;
}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 15px;

}
.cat2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 15px
}
.cat3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 15px
}

.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius:15px ;
    box-shadow:10px 15px 10px lightgray ;
}
#Contact{
    height: 300px;
}
footer{
    text-align: center;
}